<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961750529501-frn4inhr5ddr4vf2m30brfu05tgfmu3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961750529501-frn4inhr5ddr4vf2m30brfu05tgfmu3r</string>
	<key>API_KEY</key>
	<string>AIzaSyBqdO0XmAX7hmTF80k1ZEe9lhIrfSGeZ6I</string>
	<key>GCM_SENDER_ID</key>
	<string>961750529501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.advilbuddies.yycscan</string>
	<key>PROJECT_ID</key>
	<string>test-9fe53</string>
	<key>STORAGE_BUCKET</key>
	<string>test-9fe53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961750529501:ios:23f960125c2ab2c902f234</string>
</dict>
</plist>